/*  Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500;600;700&display=swap');

/* Styling that is applied for a whole application*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Syling applied to all body  */
#background {
    font-family: 'Sansita Swashed', sans-serif;
    font-size: 62.5%;
    background-image: url('../img/weather.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    min-height: 100vh;
}

/*  Styling for header and search box  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem; 
    padding-right: 3rem;
    /*1.5rem 2rem;*/
}

header input {
    width: 100%;
    max-width: 29rem;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(245, 245, 245, 0.2);  
    border-radius: 2.5rem 1.25rem;
    border-bottom: 3px solid #565656;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.3s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

#submit-btn {
    background-color: rgba(245, 245, 245, 0.2); 
    font-size: 1rem;
    padding: 0.7rem;
    border-radius: 2.5rem 1.25rem;
    border-bottom: 3px solid #565656;
}

#error {
    text-align: center;
    margin-top: 1rem;
    display: none; 
}

#error .error-text {
    font-size: 2rem;
    color: #565656;
}

/*  Styling for main part of the app  */
main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*  Styling for city class  */
.current-location .city {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    padding-right: 5px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.6);
}

/*  Styling for date class  */
.current-location .date {
    font-weight: 400;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 1.25rem;
}

/* Stroke feature for fonts */
.current-location {
    color: #000000;
    -webkit-text-fill-color: #FFFBE9; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

/*  Styling for current-temp section  */
.current-temp {
    text-align: center;
    margin-top: 1.875rem;
}

/*  Styling for temperature class  */
.current-temp .temperature {
    color: #F5F5F5;
    font-size: 5rem;
    font-weight: 700;
    font-display: center;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);

}

.current-temp .temperature span {
    font-weight: 500;
}

/*  Styling for weather description  */
.current-temp .weather-cond {
    color: #F5F5F5;
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
    margin-top: 1.25rem;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

/*  Styling for weather icon  */
.current-temp .weather-icon {
    align-items: center;
    margin-bottom: 1.25rem;
}

/*  Styling for high and low temperatures  */
.current-temp .temp-diff {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 500;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}